<h1 mat-dialog-title>Estadísticas </h1>
<div mat-dialog-content>
  <p>Carisma: {{statistics.charisma}}</p>
  <p>Consitución: {{data.constitucion}}</p>
  <p>Destreza: {{data.dexterity}}</p>
  <p>Inteligencia: {{data.intelligence}}</p>
  <p>Fuerza: {{data.strength}}</p>
  <p>Sabiduría: {{data.wisdom}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
</div>

<style>
  .custom-dialog-container .mat-dialog-container {
    text-align: -webkit-center;
  }
</style>