<h1 mat-dialog-title>Estadísticas </h1>
<div mat-dialog-content>
  <p>Carisma: {{statistics.charisma}}</p>
  <p>Consitución: {{data.constitucion}}</p>
  <p>Destreza: {{data.dexterity}}</p>
  <p>Inteligencia: {{data.intelligence}}</p>
  <p>Fuerza: {{data.strength}}</p>
  <p>Sabiduría: {{data.wisdom}}</p>
  <p *ngIf="data.personaje==1  || data.personaje==3">Vida: 250</p>
  <p *ngIf="data.personaje==2  || data.personaje==4">Vida: 300</p>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()">Cerrar</button>
</div>

<style>
  .custom-dialog-container .mat-dialog-container {
    text-align: -webkit-center;
  }

  p {
    font-weight: bold;
    margin: 10px;
  }
</style>