<div class="content">
    <div class="box1">
        <h1>ENJOY YOUR ADVENTURE</h1>
    </div>
    <fieldset class="roleplay">
        <fieldset class="story">

            <div *ngIf="!loading" class="box22">
                <img src="../../../assets/loading.gif">
            </div>
            <div *ngIf="loading" class="box2">
                <h3>{{output_text}}</h3>
            </div>
        </fieldset>
        <fieldset class="prompt">
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
        </fieldset>

    </fieldset>


</div>
<router-outlet></router-outlet>