<div class="content">
    <div class="box1">
        <h1>ENJOY YOUR ADVENTURE</h1>
    </div>
    <fieldset class="roleplay">
        <fieldset class="story">

            <div *ngIf="!loading" class="box22">
                <img src="../../../assets/loading.gif">
            </div>
            <div *ngIf="loading" class="box2">
                <h3>{{output_text}}</h3>
            </div>
        </fieldset>
        <div class="row">
            <fieldset *ngIf="loading" class="prompt">
                <mat-form-field class="udx" appearance="fill">
                    <input matInput class="inpx" type="text" [(ngModel)]="contextReq.description">
                </mat-form-field>
                <div class="sendbutton">
                    <button id="btn" (click)="postContext(contextReq.description);" routerLink="roleplay-game"><img
                            class="send" src="{{imageButton}}" width="265px">
                    </button>
                </div>
            </fieldset>
            <fieldset class="prompt2">
                <div class="d20">
                    <img class="imgdado" src="/assets/d20.png" width="200" center alt="name">
                    <div class="centered">{{d20}}</div>
                </div>

                <div>
                    <button class="card card-small" (click)="random()">
                        <span>Lanzar Dado</span>
                    </button>
                </div>

            </fieldset>
            <fieldset class="prompt2">
                <div *ngIf="!dialogOpen" class="stats">
                    <img class="imgdado" src="/assets/stats.png" width="200" center alt="name">
                </div>
                <div>
                    <button *ngIf="!dialogOpen" class="card card-small" (click)="openDialog()">
                        <span>Estadísticas</span>
                    </button>
                </div>

            </fieldset>

            <fieldset *ngIf="personaje == 1" class="prompt2">
                <div class="personaje">
                    <img class="imgpersonaje" src="/assets/DiosSol.png" width="200" center alt="name">
                </div>
                <div class="char">
                    <span>{{characterName}}</span>
                </div>
            </fieldset>
            <fieldset *ngIf="personaje == 2" class="prompt2">
                <div class="personaje">
                    <img class="imgpersonaje" src="/assets/DiosMuerte.png" width="200" center alt="name">
                </div>
                <div class="char">
                    <span>{{characterName}}</span>
                </div>
            </fieldset>
            <fieldset *ngIf="personaje == 3" class="prompt2">
                <div class="personaje">
                    <img class="imgpersonaje" src="/assets/DiosaLuna.png" width="200" center alt="name">
                </div>
                <div class="char">
                    <span>{{characterName}}</span>
                </div>
            </fieldset>
            <fieldset *ngIf="personaje == 4" class="prompt2">
                <div class="personaje">
                    <img class="imgpersonaje" src="/assets/DiosaTierra.png" width="200" center alt="name">
                </div>
                <div class="char">
                    <span>{{characterName}}</span>
                </div>
            </fieldset>

        </div>



    </fieldset>


</div>
<router-outlet></router-outlet>