.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*display: flex;*/
    min-width: 750px;
    flex-direction: row;
    align-content: center;
    gap: 30px;
    background-color: black;
    /*padding-bottom: 100px;*/
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;

}

.box2 {
    display: flex;
    align-items: center;

}

.box22 {
    display: flex;
    align-items: center;
    margin: auto;
}

img {
    margin: auto;
    width: 5%
}

.imgpersonaje {
    width: 200px !important;
}

input {
    width: 490px;
    height: 60px !important;
    border-radius: 20px;
    font-size: 25px;

}

#btn {
    background-color: black;
    border: none;
    align-self: center;


}

@media only screen and (max-width: 1000px) {

    .content {
        flex-direction: column;
    }

    img {
        min-width: 20%;
        max-width: 90%;
    }

    input {
        width: 80%;
    }


}

.style-button {
    width: 260px;
    height: 65px;
    border-radius: 35px;
    font-size: x-large;
    font-weight: 900;
    background-color: black;
    color: white;
    border: solid 2.5px white;
}

h3 {
    color: white !important;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}

h1 {
    color: white;
}

.story {
    margin: 50px;
    border-radius: 50px;
    border: solid;
    border-color: transparent;
    background-color: rgba(7, 7, 8, 0.6);

}

.roleplay {
    background: url(src\assets\roleplaybackground.jpg);
    margin: 50px;
    min-height: 600px;
    max-height: 1200px;
    margin-top: 5px;
    border-radius: 50px;
    border: solid;
    border-color: transparent;
}

mat-form-field-infix {
    width: 300px !important;
}

::ng-deep .mat-form-field-flex {
    width: 102% !important;
}

.inpx {
    min-width: 300px;
    max-width: 900px;
}


.mat-form-field {
    display: block !important;
    text-align: center;

    min-width: 300px;
    max-width: 900px;
}

.prompt {
    text-align: center;
    border-color: transparent;
    display: inline-block;
    min-width: 600px;
    max-width: 900px;

}

.prompt2 {
    text-align: center;
    border-color: transparent;
    display: inline-block;
    min-width: 50px;
    max-width: 600px;

}


input {
    border-color: black;
    border-width: 3px;
    background: white;
}

.mat-input-element {
    border: solid !important;
}


input {
    /*width: 500px;*/
    height: 60px;
    border-radius: 20px;
    font-size: 25px;
    overflow: visible !important;
}

#btn {
    background-color: black;
    border: none;
    align-self: center;
    background: center;

}

.style-button {
    width: 260px;
    height: 65px;
    border-radius: 35px;
    font-size: x-large;
    font-weight: 900;
    background-color: black;
    color: white;
    border: solid 2.5px white;
}

.send {
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 265px !important;
}

.sendbutton {
    text-align: center;
}

.mat-mdc-form-field-flex {
    display: inline-flex;
    width: 500px;
}

.mat-mdc-form-field-flex {
    display: inline-flex;
    width: 500px;
}

.mdc-text-field {
    width: 500px !important;
}

.udx {
    display: flex;
    text-align: center;
}

.d20 {
    display: inline;
    position: relative;
    text-align: center;
    color: white;
}

.imgdado {
    width: 140px;
}

.row {
    text-align-last: center;
    text-align: center;
}

.centered {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-dialog-container .mat-dialog-container {
    text-align: -webkit-center;
}

.custom-dialog-container .mat-dialog-container .mat-dialog-surface {
    border-radius: 50px;
}

.mdc-dialog__surface {
    border-radius: 50px;
}

::ng-deep .cdk-overlay-container {
    /* Do you changes here */
    position: fixed;
    z-index: 1000;
    text-align: -webkit-center;
}

::ng-deep .mat-dialog-container {
    border-radius: 50px;
}

::ng-deep .mat-dialog-container .mat-dialog-surface {
    border-radius: 50px;
}

.char {
    font-weight: bold;
}