<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="titleCard">
        <span>{{ title }}</span>
    </div>

    <!-- Resources -->
    <h2>CHOOSE YOUR CHARACTER</h2>

    <input type="hidden" #selection>

    <div class="card-container">
        <div *ngFor="let character of characters" class="characterGroup">
            <img [src]="images[character.id]" width="200" center alt="name">
            <button class="card card-small" (click)="getCharacterN(character.id)">
                <span>{{character.nameGroup}}</span>
            </button>
        </div>
    </div>

</div>

<fieldset>
    <h2 style="text-align: center;">DETAILS</h2>
    <div class="detail">
        <div class="detail">
            <div class="column">
                <h3>Race:</h3>
                <h3>Profession:</h3>
                <h3>Equipment:</h3>
            </div>
            <div class="column2">
                <h3>{{race}}</h3>
                <h3>{{profession}}</h3>
                <h3>{{equipment}}</h3>
            </div>
        </div>
        <div class="detail">
            <div class="column">
                <h3>Strength:</h3>
                <h3>Intelligence:</h3>
                <h3>Dexterty:</h3>
                <h3>Charisma:</h3>
                <h3>Wisdom:</h3>
                <h3>Constitution:</h3>
            </div>
            <div class="colum2">
                <h3>{{strength}}</h3>
                <h3>{{intelligence}}</h3>
                <h3>{{dexterty}}</h3>
                <h3>{{charisma}}</h3>
                <h3>{{wisdom}}</h3>
                <h3>{{constitution}}</h3>
            </div>
        </div>
    </div>

</fieldset>
<input type="hidden" #selection>
<div class="buttonG">
    <button mat-button class="next" (click)="next()">NEXT</button>
</div>


<router-outlet></router-outlet>