<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="titleCard">
        <span>{{ title }}</span>
    </div>

    <!-- Resources -->
    <h2>CHOOSE YOUR CHARACTER</h2>

    <input type="hidden" #selection>

    <div class="card-container">
        <div class="characterGroup">
            <img src="/assets/DiosSol.png" width="200" center alt="name">
            <button class="card card-small" (click)="getCharacterN(1)">
                <span>God of Sun</span>
            </button>
        </div>
        <div class="characterGroup">
            <img src="/assets/DiosMuerte.png" width="200" center alt="name">
            <button class="card card-small" (click)="getCharacterN(2)">
                <span>God of Death</span>
            </button>
        </div>
        <div class="characterGroup">
            <img src="/assets/DiosaLuna.png" width="200" center alt="name">
            <button class="card card-small" (click)="getCharacterN(3)">
                <span>God of Moon</span>
            </button>
        </div>
        <div class="characterGroup">
            <img src="/assets/DiosaTierra.png" width="200" center alt="name">
            <button class="card card-small" (click)="getCharacterN(4)">
                <span>God of Earth</span>
            </button>
        </div>
    </div>

</div>

<fieldset>
    <h2 style="text-align: center;">DETAILS</h2>
    <div class="detail">
        <div class="detail">
            <div class="column">
                <h3>Ethnicity:</h3>
                <h3>Profession:</h3>
                <h3>Equipment:</h3>
            </div>
            <div class="column2">
                <h3>{{race}}</h3>
                <h3>{{profession}}</h3>
                <h3>{{equipment}}</h3>
            </div>
        </div>
        <div class="detail">
            <div class="column">
                <h3>Strength:</h3>
                <h3>Intelligence:</h3>
                <h3>Dexterty:</h3>
                <h3>Charisma:</h3>
                <h3>Wisdom:</h3>
                <h3>Constitution:</h3>
            </div>
            <div class="colum2">
                <h3>{{strength}}</h3>
                <h3>{{intelligence}}</h3>
                <h3>{{dexterty}}</h3>
                <h3>{{charisma}}</h3>
                <h3>{{wisdom}}</h3>
                <h3>{{constitution}}</h3>
            </div>
        </div>
    </div>

</fieldset>
<input type="hidden" #selection>
<div class="buttonG">
    <button mat-button type="buttom" class="next" routerLink="name-selection/{{idCharacterSelected}}"
        (click)="postStatisticsContinuar()">NEXT</button>
</div>


<router-outlet></router-outlet>